:root {
  box-sizing: border-box;
  --Softred: hsl(10, 79%, 65%);
  --Cyan: hsl(186, 34%, 60%);

  --Darkbrown: hsl(25, 47%, 15%);
  --Mediumbrown: hsl(28, 10%, 53%);
  --Cream: hsl(27, 66%, 92%);
  --Verypaleorange: hsl(33, 100%, 98%);

  --ff: 'DM Sans', sans-serif;
  --fs:1.125rem;
  --fw-sm: 400;
  --fw-bold: 700;
}
*,*::before,*::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--ff);
  font-size: var(--fs);
  background-color: var(--Cream);
}
.container {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1em;
	padding: 1em;
}

.header {
  background-color: var(--Softred);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em;
  border-radius: 12px;
  color: var(--Verypaleorange);
  margin-bottom: 1em;
  p{
    margin-bottom: .5em;
  }
  .title--size{
    font-size: 2rem;
  }
}
.title--size{
  font-size: 1.5rem;
}
p{
  font-size: .9rem;
}
.expenses{
  color: var(--Mediumbrown);
  background-color:var(--Verypaleorange);
  padding: 1.2em;
  border-radius: 12px;
  .title {
    color: var(--Darkbrown);
  }
}
.chart{
  display: flex;
  justify-content: space-between;
  align-items: end;
  text-align: center;
  gap: .5em;
  margin: 1.2em 0;
  min-height: 182px;
  min-width: 334px;
}
.content{
  max-width: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  @media(min-width: 375px){
    max-width: 40px;
  }
}
.amount {
  background-color: var(--Darkbrown);
  padding: .3em;
  border-radius: 4px;
  color: var(--Verypaleorange);
  opacity: 0;
}
.bar{
  background-color: var(--Softred);
  max-width: 2em;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;  
  // clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: all .3s linear;
}
.bar--hover {
  opacity: .75;
  opacity: .1;
}
.amount--hover {
  opacity: 1;
}
.total__balance{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--Mediumbrown);
  padding: 1em 0 .2em;
  p{
    font-size: .8rem;
  }
}
.current__month {
  .title {
    font-size: 2rem;
  }
  p{
    margin-bottom: .8em;
  }
}
.prev__month{
  align-self: end;
  text-align: right;
  .title {
    font-size: 1rem;
  }
}
.current__day{
  background-color: var(--Cyan);
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }